{% load staticfiles %}
<!--DOCTYPE html -->

<html>
<head>
<title>{% block head_title %}Blog{% endblock head_title %}</title>


<!-- Bootstrap links for style-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- local style-->
<link rel='stylesheet' href='{% static "css/base.css" %}' />

<!-- Jquery js-->
<script   src="http://code.jquery.com/jquery-1.12.2.min.js"   integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk="   crossorigin="anonymous"></script>

<!-- Bootstrap js-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!-- local js-->
<script type="text/javascript">
$(function() {
    $('#post_sort').change(function() {
        $(this).parent('form').submit()
    });
});
</script>

<style>
{% block style %}{% endblock style %}
</style>
</head>

<body>
<div class='container'>
    <ol class='breadcrumb'>
        <li><a href='{% url "posts:post-list" %}'>Home</a></li>
        {% block post_list_links %}
        {% endblock %}
        {% block post_detail_links %}
        {% endblock %}

        {% if not request.user.is_authenticated %}
            <li class='pull-right'><a href='{% url "accounts:register" %}'>Register</a></li>
            <li class='pull-right'><a href='{% url "accounts:login" %}'>Login</a></li>
        {% else %}
            <li class='pull-right'><a href='{% url "accounts:logout" %}'>Logout</a></li>
            <li class='pull-right'>{{ request.user.username }}</a></li>
        {% endif %}
    </ol>
</div>
{% block content %}{% endblock content %}
</body>

</html>




