{% load staticfiles %}
<!--DOCTYPE html -->

<html>
<head>
<title>{% block head_title %}Blog{% endblock head_title %}</title>


<!-- Bootstrap style-->
<link rel='stylesheet' href='{% static "css/bootstrap.min.css" %}' />
<link rel='stylesheet' href='{% static "css/bootstrap-theme.min.css" %}' />

<!-- Bootstrap js-->
<script type="text/javascript" src={% static "js/bootstrap.min.js" %} ></script>

<!-- local style-->
<link rel='stylesheet' href='{% static "css/base.css" %}' />

<!-- Jquery js-->
<script type="text/javascript" src={% static "js/jquery-1.12.2.min.js" %} ></script>

<!-- local js-->
{% block local_scripts %}

{% endblock %}

<style>
{% block style %}{% endblock style %}
</style>
</head>

<body>
<div class='container'>
    <ol class='breadcrumb'>
        <li><a href='{% url "posts:post-list" %}'>Home</a></li>
        {% block post_list_links %}
        {% endblock %}
        {% block post_detail_links %}
        {% endblock %}

        {% if not request.user.is_authenticated %}
            <li class='pull-right'><a href='{% url "accounts:register" %}'>Register</a></li>
            <li class='pull-right'><a href='{% url "accounts:login" %}'>Login</a></li>
        {% else %}
            <li class='pull-right'><a href='{% url "accounts:logout" %}'>Logout</a></li>
            <li class='pull-right'>{{ request.user.username }}</a></li>
        {% endif %}
    </ol>
</div>
{% block content %}{% endblock content %}
</body>

</html>
