{% extends "posts/base.html" %}

{% block head_title %}
{{ post.title }} {{ block.super }}
{% endblock head_title %}

{% block post_detail_links %}
    {% if request.user.is_authenticated %}
        <li><a href='{{ post.get_absolute_url }}edit'>Edit</a></li>
        <li><a href='{{ post.get_absolute_url }}delete'>Delete</a></li>
    {% endif %}
{% endblock %}

{% block content %}
<div class='col-sm-6 col-sm-offset-3'>
    {% if post.image %}
    <img src='{{ object.image.url }}' class='img-responsive' />
    {% endif %}

	<p>Description: {{ post.description }}</p>
	<p>Summary: {{ post.summary }}</p>
	<p>Author: {{ post.author.username }}</p>
	<p>Category: <br/>{% for category in post.category.all %}{{ category }}<br/>{% endfor %}

</div>
{% endblock content %}