{% extends "posts/base.html" %}

{% block head_title %}
{{ object.title }} {{ block.super }}
{% endblock head_title %}


{% block content %}
<div class='col-sm-6 col-sm-offset-3'>
    {% if post.image %}
    <img src='{{ object.image.url }}' class='img-responsive' />
    {% endif %}

	<p>Description: {{ post.description }}</p>
	<p>Summary: {{ post.summary }}</p>
	<p>Author: {{ post.author.username }}</p>
	<p>Category: <br/>{% for category in post.category.all %}{{ category }}<br/>{% endfor %}

</div>
{% endblock content %}