{% extends "posts/base.html" %}
{% load comments_tag %}

{% block head_title %}
{{ post.title }} {{ block.super }}
{% endblock head_title %}

{% block post_detail_links %}
    {% if request.user.is_authenticated %}
        <li><a href='{{ post.get_absolute_url }}edit'>Edit</a></li>
        <li><a href='{{ post.get_absolute_url }}delete'>Delete</a></li>
    {% endif %}
{% endblock %}

{% block content %}

<div class='col-sm-6 col-sm-offset-3'>

    {% if post.image %}
        <img src='{{ object.image.url }}' class='img-responsive' />
    {% endif %}
    <h1>{{ post.title }} </h1>
    <p class='text-muted'>By {{ post.author.username }} | {{ post.created }} </p>

    <div class="thumbnail">
        <div class="caption post-sum-cat">
            <p>Summary: {{ post.summary }}</p>
            {% if post.category.all|length %}
                <p>Category: {{ post.category.all|join:", " }}
            {% endif %}
        </div>
    </div>

    <div class="thumbnail">
        <div class="caption post-description">
            <p>{{ post.description }}</p>
        </div>
    </div>

    <!-- comments -->
    {% comment_form post request.user %}
    {% get_comments post request.user %}
</div>

{% endblock content %}
