{% load comments_tag %}

<div id="cmt-input-div" class="well">
    <form method="POST" action="{% url "comments:comment-create" %}" class="cmt_add-frm">
        {% csrf_token %}
        {{ form.errors }}
	<h4>Post a Comment</h4>
        <br>
        <div class="form-group">
        {{ form.comment }}
        </div>
        {% if target %}
            <input name="model" value="{% get_model_name target %}" hidden>
            <input name="model_id" value="{{ target.id }}" hidden>
            <input name="app_name" value="{% get_app_name target %}" hidden>
        {% endif %}
        <input id="id_user" name="user" value="{% if user.is_authenticated %}{{ user.id }}{% endif %}" hidden>
        </br>
        <input type="submit" class="btn-primary" value="Submit" id="add-comment" />
     </form>
</div>

