{% load static comments_tag %}
<div>
    <div class="row">
        <div class="col-sm-8">
            <h5>Comments:</h5>
        </div>
    </div>

    <div class="comments">
        {% for comment in comments %}
           <div id="comment-div-{{ comment.id }}" >
               {% include "comments/comment.html" with object=comment %}
           </div>
        {% empty %}
           <div class="panel-heading">
               <span id='no-comments' class="text-muted">No Comments</span>
           </div>
        {% endfor %}
    </div>
</div>

